<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  {% if page.date %}
  <meta property="article:author" content="{{ site.url }}/">
  {% endif %}

  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
  {% endif %}

  <title>
    {% if page.id == "home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &mdash; {{ site.title }}
    {% endif %}
  </title>

  {% seo %}
</head>
